#contact {
  margin-top: 5rem;

.faq-content-titel{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    a{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

    }
  }

  .faq--contact {
    margin-top: 2rem;
    padding: 5rem 2rem;
    border-radius: $global-border-radius;
    background-color: white;
    box-shadow: $global-box-shadow;
    margin-bottom: 15rem;
    .faq--navigation {
      display: inline-block;
      padding: 0 2rem;
    }
    .faq--content {
      display: grid;
      grid-template-columns: 65% 30%;
      grid-gap: 40px;
      padding: 0 2rem;
      .faq--form {
        .form--group {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          margin-bottom: 20px;
          label {
            width: 98%;
            padding: 1rem;
            font-weight: bold;
          }

          input{
            width: 100%;
          }

          .big--text {
            height: 20rem !important;
          }
        }

        button{
          padding: 1rem;
          width: 10rem;
        }
      }
      .faq--information {
        margin-top: 1rem;
        p {
          margin: 1.5rem 0px;
        }
      }
    }
  }
}
