.meekijken-content-meer{
  width: 100%;
  height: auto;

  padding-top: 10rem;
  flex-direction: column;

  h2{
    width: fit-content;
    margin: 0 auto 5rem;
  }

  .meekijken-content-meer-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}









